<tr id="{{uid}}" class="{{css}}">
    <td>
        <input type="hidden" name="links[]" value="{{link}}">
        <a href="{{link}}" target="_blank">{{link}}</a>
    </td>
    <td><button class="btn btn-mini jsDeleteLink" data-target="{{uid}}"><i class="glyphicon glyphicon-remove"></i> {{lang.deleteLink}}</button></td>
</tr>