<article id="cart-item-{{item.uniqueKey}}" class="cart-item">
    <div class="divider"></div>
    <div class="item-icon">
        <a href="/item/{{realm.id}}/{{item.itemid}}" class="item-link">
            <span class="icon-frame frame-36" style="background-image: url(/application/images/icons/36/{{item.icon}}.jpg);"></span>
        </a>
    </div>
    <div class="item-price">
        <img src="{{url}}application/images/icons/lightning.png" align="absmiddle" />
        {{item.vp_price}}
    </div>
    <div class="item-name">
        <a href="#">{{item.name}}</a>
        <span class="qty" id="cart-quantity-{{item.uniqueKey}}">[<span>x{{item.count}}</span>]</span>
    </div>
    <span class="item-nick">{{recipient}} @ {{realm.name}}</span>
    <a href="#" class="jsDeleteFromCart" data-itemkey="{{item.uniqueKey}}">Entfernen</a>
</article>